<ul #navigation id="slide-navigation" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="assets/images/background.jpg" style="width: 100%;" />
      </div>
      <a href="#user"><img class="circle" src="assets/avatar.jpeg"></a>
      <a href="#name"><span class="black-text name">John Doe</span></a>
      <a href="#email"><span class="black-text email">jdandturk@gmail.com</span></a>
    </div>
  </li>
  <li><a href="#!"><i class="material-icons">insert_chart</i>实时统计</a></li>
  <li><a href="#!"><i class="material-icons">today</i>本周统计</a></li>
  <li><a href="#!"><i class="material-icons">multiline_chart</i>本月统计</a></li>
  <li><a href="#!"><i class="material-icons">pie_chart</i>本年统计</a></li>
  <li>
    <div class="divider"></div>
  </li>
  <li><a href="#!"><i class="material-icons">trending_up</i>时间区间统计</a></li>
</ul>
