<ul #navigation id="slide-navigation" class="sidenav sidenav-fixed">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="assets/images/background.jpg" style="width: 100%;" />
      </div>
      <a><img class="circle" src="assets/avatar.jpeg"></a>
      <a><span class="black-text name">鸿则</span></a>
      <a><span class="black-text email">hungtcswcs@gmail.com</span></a>
    </div>
  </li>
  <li *ngFor="let menu of menus" routerLinkActive="active">
    <a *ngIf="menu.type !== 'divider'" [routerLink]="menu.link" class="sidenav-close"><i class="material-icons">{{ menu.icon }}</i>{{ menu.name }}</a>
    <div *ngIf="menu.type === 'divider'" class="divider"></div>
  </li>
</ul>
